* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #e9e9e9;
}
.content {
    padding: 1rem;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 768px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

